@charset "UTF-8";
@import url("https://fonts.googleapis.com/css2?family=Inter:wght@300;400;500;600;700&display=swap");

* {
  box-sizing: border-box;
}

html,
body {
  font-family: "Inter", sans-serif;
  margin: 0;
  padding: 0;
}

/* --------------- Header --------------- */
.container {
  max-width: 1440px;
  width: 100%;
  margin: 0 auto;
}

.header {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  position: sticky;
  top: 0;
  background: #ffffff;
  box-shadow: 0px 1px 0px #e5e5e5;
  padding: 8px 28px;
  width: 100%;
  max-height: 72px;
  height: 100%;
  z-index: 2;
}

.logo {
  max-height: 56px;
  height: 100%;
  max-width: 112px;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.search-box {
  display: flex;
  align-items: center;
  position: relative;
  max-width: 900px;
  width: 100%;
  max-height: 50px;
  height: 100%;
  margin: 12px 24px 12px 44px;
}

.search-box .search-input {
  padding: 14px;
  width: 100%;
  height: 100%;
}

.search-input::-webkit-search-cancel-button {
  -webkit-appearance: none;
}

.search-input::placeholder {
  font-weight: 500;
  font-size: 16px;
  line-height: 20px;
  color: #40464d;
}

.search-box .search-icon {
  position: absolute;
  right: 0px;
  top: 50%;
  transform: translateY(-50%);
  width: 24px;
  height: 24px;
}

.search-btn {
  position: absolute;
  right: 20px;
  padding: 0;
  margin: 0;
  height: 24px;
  width: 24px;
}

.header-btn {
  height: 48px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.signin-btn-icon,
.wishlist-btn-icon {
  margin-right: 11px;
}

.header-btn span {
  font-weight: bold;
  font-size: 12px;
  line-height: 16px;
  text-align: center;
  text-transform: uppercase;
  color: #030303;
}

.sign-in-btn {
  padding: 12px 16px;
}

.wishlist-btn {
  padding: 8px 16px;
}

.bag-btn {
  height: 35px;
  width: 35px;
  position: relative;
  cursor: pointer;
}

.bag-btn .bag {
  position: absolute;
  right: 0;
}

.bag-btn .bag-number {
  background-color: #e36305;
  width: 20px;
  height: 20px;
  border-radius: 50%;
  text-align: center;
  font-size: 16px;
  font-weight: 600;
  color: #ffffff;
  position: absolute;
  top: -5px;
  right: -10px;
}

/* --------------- Navbar --------------- */
.navbar {
  background-color: #030303;
  max-height: 48px;
  height: 100%;
  padding: 14px 230px;
}

.navbar .navbar-menu-items {
  margin: 0;
  padding: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  list-style: none;
}

.navbar .navbar-menu-items .navbar-menu-item:not(:last-child) {
  margin-right: 32px;
}

.navbar .navbar-menu-items .navbar-menu-item .navbar-link {
  font-weight: 500;
  font-size: 14px;
  line-height: 20px;
  color: #ffffff;
}

.navbar .navbar-menu-items .navbar-menu-item .navbar-link:hover {
  color: #e36305;
  transition: all ease 0.3s;
}

/* ----------- BREADCRUMB ----------- */
.breadcrumb-container {
  border-bottom: 1px solid #e9e9e9;
}

.breadcrumb-container .breadcrumb-list {
  list-style: none;
  display: flex;
  align-items: center;
  margin: 12px 32px;
  padding: 0;
}
.breadcrumb-container .breadcrumb-list .breadcrumb-list-item .breadcrumb-link {
  font-weight: 500;
  font-size: 12px;
  line-height: 16px;
  color: #40464d;
}

.breadcrumb-list-item:not(:last-child) {
  margin-right: 24px;
}

/* ----------- Main Product ----------- */
.info-main-product-container {
  max-width: 680px;
  width: 100%;
}

.main-container {
  padding: 0 32px;
}

.product-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
  max-width: 1440px;
  max-height: 560px;
  width: 100%;
  height: 100%;
  border-bottom: 1px solid #e9e9e9;
  margin-bottom: 64px;
  padding-bottom: 34px;
}

.prod-title-responsive {
  display: none;
}

.prod-title {
  margin: 24px 0px;
}

.product-image {
  margin: 0 auto;
  max-width: 448px;
  width: 100%;
}

/* ------------ MAIN PRODUCT TITLE ------------ */
.prod-title a:hover {
  text-decoration: underline;
}

.link-flag,
.link-flag:hover,
.link-flag:visited {
  font-weight: 600;
  font-size: 12px;
  line-height: 16px;
  text-transform: capitalize;
  color: #40b25c;
}

.prod-name {
  margin: 8px 0 16px;
  padding: 0;
  font-weight: 600;
  font-size: 20px;
  line-height: 28px;
  color: #030303;
}

.prod-extra {
  display: flex;
  justify-content: space-between;
}

.prod-extra .prod-reference {
  font-weight: 500;
  font-size: 12px;
  line-height: 16px;
  color: #40464d;
}

.prod-extra .prod-link-description {
  font-weight: bold;
  font-size: 12px;
  line-height: 16px;
  text-align: right;
  text-transform: uppercase;
  color: #40b25c;
}

/* ------------ PRODUCT OPTIONS CONTAINER ------------ */
.prod-informations {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  max-width: 680px;
  width: 100%;
  max-height: 366px;
  height: 100%;
}

.prod-options {
  max-width: 333px;
  width: 100%;
  max-height: 352px;
  height: 100%;
  padding: 16px 0px 0px;
}

.prod-options .colors-option-container p {
  margin: 0;
  margin-bottom: 10px;
  padding: 0;
  font-weight: 500;
  font-size: 14px;
  line-height: 20px;
  color: #030303;
}

.color-options {
  display: flex;
  justify-content: flex-start;
  list-style: none;
  margin: 0;
  padding: 0;
}

.color {
  position: relative;
  height: 50px;
  width: 50px;
  border: 1px solid #cfd1d2;
  border-radius: 50%;
  transition: all ease 0.3s;
}

.div-color {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  height: 40px;
  width: 40px;
  border-radius: 50%;
}

.color1 {
  background-color: #595961;
}
.color2 {
  background-color: #ffd1c2;
}
.color3 {
  background-color: #c8c8cf;
}

.color:hover {
  background-color: #e1e7fa;
}

.colors-option-container .color-options .color:not(:last-child) {
  margin-right: 8px;
}

.screen-size-options-container p {
  font-weight: 500;
  font-size: 14px;
  line-height: 20px;
  color: #030303;
}

.screen-size-options-container .size-options {
  list-style: none;
  display: flex;
  margin: 0;
  padding: 0;
  max-height: 48px;
  height: 100%;
  margin-bottom: 52px;
}

.screen-size-options-container .size-options .size .size-btn {
  padding: 12px 24px;
  background: #ffffff;
  border: 1px solid #cfd1d2;
  border-radius: 4px;
  font-weight: bold;
  font-size: 14px;
  line-height: 24px;
  text-align: center;
  text-transform: uppercase;
  color: #030303;
  margin-bottom: 52px;
  transition: all ease 0.3s;
}

.screen-size-options-container .size-options .size .size-btn:hover {
  background: #e9e9e9;
}

.size:not(:last-child) {
  margin-right: 12px;
}

.screen-size-options-container .size-options .size .sold-out {
  background: #e9e9e9;
  color: #9fa3a6;
}
.shipping-option-container {
  display: flex;
  justify-content: space-around;
  background: #ffffff;
  border: 1px solid #e9e9e9;
  box-sizing: border-box;
  border-radius: 4px;
  padding: 24px 32px;
}

.delivery-img {
  margin-right: 32px;
}

.shipping-span {
  margin: 0;
  padding: 0;
  font-weight: 600;
  font-size: 14px;
  line-height: 20px;
  color: #030303;
}

.shipping-paragraph {
  padding: 0;
  margin: 4px 0 8px 0;
  font-weight: 500;
  font-size: 12px;
  line-height: 16px;
  color: #40464d;
}

.shipping-link,
.shipping-link:hover,
.shipping-link:visited {
  font-weight: 600;
  font-size: 12px;
  line-height: 16px;
  text-transform: capitalize;
  color: #40b25c;
}

/* ------------ PRICE CONTAINER ------------ */
.price-container {
  background: #ffffff;
  border: 1px solid #e9e9e9;
  box-sizing: border-box;
  border-radius: 4px;
  max-width: 315px;
  width: 100%;
  max-height: 366px;
  height: 100%;
  padding: 24px;
}

.price {
  margin-bottom: 24px;
}

.best-price {
  margin: 0;
}

.discount-container {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  margin-top: 4px;
}

.full-price {
  font-weight: 500;
  font-size: 14px;
  line-height: 20px;
  color: #9fa3a6;
  text-decoration: line-through;
  margin-right: 7px;
}

.discount-tag-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  row-gap: 2px;
}

.discount-tag {
  max-width: 33px;
  padding: 0px 4px;
  background: #e63737;
  border-radius: 4px;
  font-weight: bold;
  font-size: 12px;
  line-height: 16px;
  text-transform: uppercase;
  color: #ffffff;
}

.save-tag {
  padding: 0px 4px;
  background: #f6cbcb;
  border-radius: 4px;
  font-weight: bold;
  font-size: 12px;
  line-height: 16px;
  text-transform: uppercase;
  color: #e63737;
}

.group-1 {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 16px;
}

.select-qnt {
  display: flex;
  align-items: center;
  justify-content: space-between;
  max-width: 128px;
  width: 100%;
  max-height: 48px;
  height: 48px;
  padding: 14px 12px;
  background: #ffffff;
  border: 1px solid #9fa3a6;
  box-sizing: border-box;
  border-radius: 4px;
  margin-right: 28px;
}

.qnt {
  font-weight: 500;
  font-size: 16px;
  line-height: 20px;
  text-align: center;
  color: #030303;
}

.minus-button,
.plus-button {
  font-weight: 500;
  font-size: 24px;
  color: #40b25c;
}

.buy-now-paragraph {
  font-weight: 600;
  font-size: 12px;
  line-height: 16px;
  letter-spacing: -0.004em;
}

.buy-now-paragraph .last-in-stock {
  color: #e63737;
}

.buttons-container {
  display: flex;
  flex-direction: column;
  row-gap: 8px;
  max-width: 267px;
  width: 100%;
}

.add-to-cart-button,
.buy-now-button {
  display: flex;
  justify-content: center;
  width: 100%;
  padding: 16px 32px;
  border-radius: 4px;
  font-weight: bold;
  font-size: 16px;
  line-height: 24px;
  text-align: center;
  text-transform: uppercase;
  color: #ffffff;
  transition: all ease 0.3s;
}

.add-to-cart-button {
  background-color: #40b25c;
}
.buy-now-button {
  background-color: #e36305;
}
.buy-now-bag-button {
  margin-right: 15px;
}

.add-to-cart-button:hover,
.buy-now-button:hover {
  color: #e9e9e9;
}

.who-sold {
  margin: 24px 0;
  font-weight: 500;
  font-size: 12px;
  line-height: 16px;
  text-align: center;
  color: #40464d;
}

/* ------------ RECOMMENDED PRODUCTS HEADER ------------ */
.recommended-container {
  margin-bottom: 64px;
}

.recommended-products-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.responsive-recommended-products-title {
  display: none;
  font-weight: 600;
  font-size: 18px;
  line-height: 24px;
  color: #030303;
  margin: 10px 0;
}

.recommended-products-title {
  font-weight: 600;
  font-size: 20px;
  line-height: 28px;
  color: #030303;
}

.recommended-products-link,
.recommended-products-link:hover,
.recommended-products-link:visited {
  font-weight: bold;
  font-size: 12px;
  line-height: 16px;
  text-transform: uppercase;
  color: #40b25c;
}

.recommended-products-link:hover {
  text-decoration: underline;
}

/* ------------ PRODUCTS CARD ------------ */
.products-list {
  display: flex;
  justify-content: space-between;
  align-items: center;
  list-style: none;
  margin: 0;
  padding: 0;
}

.product-list-item {
  max-width: calc((100% / 6) - 16px);
  width: 100%;
  padding: 16px 16px 24px;
  background: #ffffff;
  border-radius: 4px;
}

.product-list-item:not(:last-child) {
  margin-right: 16px;
}

.recommended-product-image-container {
  text-align: center;
}

.recommended-product-image {
  max-width: 184px;
  width: 100%;
}

.recommended-product-price {
  display: flex;
  flex-direction: column;
}

.recommended-product-description {
  font-weight: normal;
  font-size: 14px;
  line-height: 20px;
  color: #030303;
  margin: 0;
  margin-bottom: 12px;
}

.recommended-full-price {
  font-weight: 500;
  font-size: 12px;
  line-height: 16px;
  text-decoration-line: line-through;
  color: #9fa3a6;
}

.recommended-best-price {
  margin: 4px 0px;
  font-weight: 600;
  font-size: 20px;
  line-height: 24px;
  color: #030303;
}

.recommended-installments-price {
  font-weight: 500;
  font-size: 14px;
  line-height: 20px;
  color: #40464d;
}

.add-bag-btn {
  display: none;
}

/* ------------ BANNER ------------ */
.banner-img {
  margin: 0 auto;
  padding-bottom: 17px;
  border-bottom: 1px solid #e9e9e9;
  max-width: 1440px;
  width: 100%;
}

/* ------------ ABOUT ------------ */
.about-product {
  max-width: 1024px;
  width: 100%;
  margin: 46px 0 64px 0;
  padding: 0;
}

.about-title {
  font-weight: 600;
  font-size: 20px;
  line-height: 28px;
  color: #101820;
  margin-bottom: 24px;
}

.info-paragraph {
  font-weight: 500;
  font-size: 14px;
  line-height: 20px;
  color: #101820;
}

.descripition-paragraph {
  font-weight: normal;
  font-size: 14px;
  line-height: 20px;
  color: #40464d;
}

.about-product-list {
  margin: 0;
  padding: 0;
  list-style-position: inside;
  margin-bottom: 25px;
}

.about-product-list li {
  font-weight: normal;
  font-size: 14px;
  line-height: 20px;
  color: #40464d;
}

.link-paragraph {
  font-weight: normal;
  font-size: 14px;
  line-height: 20px;
  color: #40464d;
}

.about-link,
.about-link:hover,
.about-link:visited {
  text-transform: capitalize;
  color: #40599d;
}

.about-link:hover {
  text-decoration: underline;
}

/* ------------ NEWSLETTER ------------ */
.newsletter {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 32px 138px;
  max-width: 1440px;
  width: 100%;
  max-height: 112px;
  height: 100%;
  background-color: #40b25c;
  margin: 0 auto;
}

.newsletter-title {
  font-weight: 600;
  font-size: 32px;
  line-height: 40px;
  text-align: center;
  color: #ffffff;
  margin-right: 62px;
}

.form-newsletter {
  display: flex;
}

.input-container {
  display: flex;
  align-items: center;
  position: relative;
  max-width: 560px;
  width: 100%;
  margin: 0;
  padding: 0;
}

.mail-label {
  position: absolute;
  top: 55%;
  left: 10px;
  transform: translateY(-50%);
}

.newsletter-email-input {
  width: 100%;
  background: #ffffff;
  border-radius: 4px;
  padding: 8px 50px;
  border: none;
}

.newsletter-email::placeholder {
  font-weight: 500;
  font-size: 16px;
  line-height: 20px;
  color: #9fa3a6;
}

.newsletter-btn {
  background: #e36305;
  border-radius: 4px;
  padding: 12px 32px;
  font-weight: bold;
  font-size: 14px;
  line-height: 24px;
  text-align: center;
  text-transform: uppercase;
  color: #ffffff;
  margin-left: 16px;
}

/* ----------- FOOTER ----------- */
.footer-container {
  background-color: #030303;
  padding: 50px 32px;
}

.footer-links {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-around;
  max-height: 232px;
  height: 100%;
}

.footer-link-section {
  max-height: 232px;
  height: 100%;
  max-width: 448px;
  width: 100%;
}

.section-name {
  font-weight: 600;
  font-size: 14px;
  line-height: 20px;
  color: #ffffff;
  margin: 0;
  margin-bottom: 22px;
}

.footer-section-list {
  margin: 0;
  padding: 0;
  list-style: none;
  display: flex;
  justify-content: center;
  align-items: flex-start;
  flex-direction: column;
  flex-wrap: wrap;
  max-height: 232px;
  height: 100%;
}

.footer-section-list-item {
  margin-right: 150px;
}

.footer-section-list-item:not(:last-child) {
  margin-bottom: 14px;
}

.footer-section-list-item-link,
.footer-section-list-item-link:hover,
.footer-section-list-item-link:visited {
  font-weight: 500;
  font-size: 14px;
  line-height: 20px;
  color: #9fa3a6;
}

.footer-section-list-item-link:hover {
  text-decoration: underline;
}

/* ----------- FOOTER CALL BUTTONS ----------- */
.footer-container-comum {
  max-width: 332px;
  width: 100%;
  max-height: 156px;
  height: 100%;
  margin-right: 40px;
}

.buttons {
  display: flex;
  flex-direction: column;
  row-gap: 16px;
}

.call-us-btn {
  background-color: #40b25c;
}
.message-btn {
  background-color: #e36305;
  margin-bottom: 24px;
}

.contact-btn {
  display: flex;
  justify-content: center;
  align-items: center;
  /* measurements */
  max-height: 48px;
  height: 100%;
  max-width: 332px;
  width: 100%;
  border-radius: 4px;
  padding: 12px 20px;
  /* text */
  font-style: normal;
  font-weight: bold;
  font-size: 14px;
  line-height: 24px;
  text-align: center;
  text-transform: uppercase;
  color: #ffffff;
}

.contact-btn-image {
  margin-right: 8px;
}

.open-hours-paragraph {
  text-align: center;
  font-weight: 500;
  font-size: 14px;
  line-height: 20px;
  color: #ffffff;
  margin: 0;
  padding: 0;
}

/* ----------- FOTTER SOCIAL AND PAYMENTS ----------- */
.social-and-payments {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
  margin-top: 107px;
  margin-bottom: 61px;
  padding-top: 60px;
  border-top: 1px solid rgba(255, 255, 255, 0.16);
}

.social-and-payments ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

.payment-methods-list {
  display: flex;
  column-gap: 8px;
  flex-wrap: wrap;
}

.social-list {
  display: flex;
  justify-content: center;
  align-items: center;
}

.social-list-item {
  padding: 8px;
}

/* ----------- FOTTER TEXT ----------- */
.footer-text {
  margin-bottom: 28px;
}

.rights {
  font-weight: 600;
  font-size: 12px;
  line-height: 16px;
  text-align: center;
  letter-spacing: -0.004em;
  color: #ffffff;
}

.text {
  max-width: 1028px;
  width: 100%;
  padding: 0;
  margin: 0 auto;
  font-weight: normal;
  font-size: 12px;
  line-height: 16px;
  text-align: center;
  color: #cfd1d2;
}

.b8one {
  margin: 0 auto;
  text-align: center;
}

.love,
.love a {
  font-style: normal;
  font-weight: 600;
  font-size: 12px;
  line-height: 16px;
  letter-spacing: -0.004em;
  color: #9fa3a6;
  transition: all ease 0.3s;
}

.love a:hover {
  text-decoration: underline;
}
/* ----------- MEDIA QUERY ----------- */
@media screen and (max-width: 1440px) {
  .header-btn span {
    display: none;
  }
  .navbar {
    padding: 14px 180px;
  }
}

@media screen and (max-width: 1340px) {
  .navbar {
    padding: 14px 0px;
  }
  .header-btn {
    display: none;
  }
  .footer-links {
    max-height: none;
  }
  .footer-link-section {
    max-width: 400px;
    width: 100%;
  }
}

@media screen and (max-width: 1250px) {
  .main-container .product-container {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    max-height: none;
    border: none;
  }
  .prod-title {
    display: none;
  }
  .prod-title-responsive {
    margin: 24px 0px;
    display: block;
  }
  .footer-link-section {
    max-width: 300px;
    width: 100%;
  }
}

@media screen and (max-width: 1200px) {
  .newsletter {
    flex-direction: column;
    max-height: none;
    padding: 32px;
  }
  .newsletter-title {
    margin: 24px 0;
  }
  .form-newsletter {
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  .newsletter-btn {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 12px 0px;
    width: 100%;
  }
  .footer-section-list-item:nth-child(odd) {
    display: none;
  }
}

@media screen and (max-width: 1035px) {
  .footer-container-comum {
    margin: 0;
  }
  .social-list {
    justify-content: flex-end;
  }
}

@media screen and (max-width: 1000px) {
  .navbar {
    max-height: none;
  }
  .navbar .navbar-menu-items {
    flex-wrap: wrap;
    justify-content: center;
  }

  .navbar-menu-item:not(:last-child):after {
    content: "";
    margin: 0;
    padding: 0;
    padding-right: 5px;
    border-right: 1px solid white;
  }

  .navbar .navbar-menu-items .navbar-menu-item:not(:last-child) {
    margin: 5px;
    margin-left: 0;
  }

  .products-list {
    flex-wrap: wrap;
    justify-content: space-around;
  }
  .product-list-item:not(:nth-child(1), :nth-child(2)) {
    display: none;
  }
  .product-list-item:nth-child(2) {
    margin: 0;
  }
  .product-list-item {
    max-width: calc((80% / 2) - 16px);
  }
  .recommended-product-description {
    font-weight: normal;
    font-size: 12px;
    line-height: 16px;
    color: #030303;
  }
  .add-bag-btn {
    display: flex;
    justify-content: center;
    align-items: center;
    font-weight: bold;
    font-size: 12px;
    line-height: 16px;
    text-align: center;
    text-transform: uppercase;
    color: #ffffff;
    background: #40b25c;
    border-radius: 4px;
    padding: 8px 16px;
    margin: 12px auto;
    width: 100%;
  }

  .add-bag-btn img {
    margin-right: 8px;
  }

  .footer-links {
    justify-content: center;
  }

  .footer-link-section {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    max-width: none;
    width: calc(100% / 2);
    margin: auto;
    margin-bottom: 32px;
  }

  .footer-section-list-item {
    margin: 0;
  }
}

@media screen and (max-width: 850px) {
  .navbar {
    padding: 14px;
  }
  .navbar .navbar-menu-items {
    margin: 0 auto;
    justify-content: flex-start;
  }
}

@media screen and (max-width: 715px) {
  .search-input {
    display: none;
  }
  .prod-informations {
    justify-content: center;
    max-height: none;
  }
  .price-container {
    margin: 16px 16px 32px 16px;
  }
  .recommended-products-title {
    display: none;
  }
  .responsive-recommended-products-title {
    display: block;
  }
  .recommended-products-link {
    display: none;
  }
  .social-and-payments {
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 32px;
    padding-top: 32px;
  }
  .social-list {
    justify-content: center;
  }
}

@media screen and (max-width: 530px) {
  .products-list {
    flex-direction: column;
  }
  .product-list-item {
    margin: 0 auto;
    max-width: none;
  }
}
